[submodule "nerdtree"]
  path = bundle/nerdtree
  url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-coffee-script"]
  path = bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-markdown"]
  path = bundle/vim-markdown
  url = git://github.com/tpope/vim-markdown.git
[submodule "vim-fugitive"]
  path = bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-rails"]
  path = bundle/vim-rails
  url = git://github.com/tpope/vim-rails.git
[submodule "vim-rooter"]
  path = bundle/vim-rooter
  url = git://github.com/airblade/vim-rooter.git
[submodule "vim-ruby"]
  path = bundle/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-ack"]
  path = bundle/vim-ack
  url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-unimpaired"]
  path = bundle/vim-unimpaired
  url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-snipmate"]
  path = bundle/vim-snipmate
  url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/ag.vim"]
  path = bundle/ag.vim
  url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-L9"]
  path = bundle/vim-L9
  url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-fuzzyfinder"]
  path = bundle/vim-fuzzyfinder
  url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git://github.com/thoughtbot/vim-rspec.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/bats.vim"]
	path = bundle/bats.vim
	url = https://github.com/rosstimson/bats.vim.git
[submodule "bundle/tmuxline.vim"]
	path = bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/vim-github-colorscheme"]
	path = bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "bundle/vim-emblem"]
	path = bundle/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-theme-bronkow"]
	path = bundle/vim-theme-bronkow
	url = git://github.com/cange/vim-theme-bronkow.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
